body{
background:black;
}
#outer{
width:100%;
height:800px;
background:black;

}
#left{

width:20.5%;
height:800px;
background:black;
float:left;




}
.div{
width:22.5%;


}
#div1{
height:110px;
background:#121212;
position:fixed;
top:5px;
color:white;
border-radius:10px;
border:none;
padding-left:28px;
width:20.9%;
padding-top:10px;

padding-left:5x;

}
#div1 a{
text-decoration:none;
color:white;
margin-left:15x;
font-size:17px;

}
#div1 p{
font-size:17px;
}
#div2{

height:60px;
background:#121212;
position:fixed;
top:133px;
color:white;
border-radius:10px 10px 0px 0px;
padding-left:27px;
width:20.9%;
padding-top:5px;
}
#div2 a{

text-decoration:none;
color:white;
}
#div3{

height:350px;
padding-left:15px;
position:fixed;
width:20.8%;
top:190px;
background:#121212;
color:white;
padding-right: 13px;

}
#inscroll{

height:140px;
width:92.7%;

background:#242424;
color:black;
border-radius:15px;
border:none;
color:white;
padding-left:20px;
padding-top:5px;

}
#inscroll button{
height:35px;
width:130px;
font-size:15px;
font-weight:bold;
margin-top:0px;
border-radius:20px;
border:none;
}
#inscroll2{

height:200px;
width:83%;
background:#242424;
color:white;
margin-top:30px;
border-radius:15px;
border:none;
padding-left:20px;
padding-top:5px;
padding-right:22px;

}
#inscroll2 button{
height:35px;
width:150px;
font-size:15px;
font-weight:bold;
margin-top:0px;
border-radius:20px;
border:none;

}


#div4{
height:180px;
width:21.2%;
background:#121212;
position:fixed;
bottom:20px;
padding-top:40px;
padding-left:22px;
}
#div4 a{
color:#a7a7a7;
text-decoration:none;
padding:5px;
margin-left:5px;
}
#right{
width:76%;
height:850px;
background:black;
float:right;
padding-left:5px;


}
#scroll{
height:200px;
width:88%;
background:#121212;

overflow-x:scroll;
scrollbar-gutter:stable;
margin-left:5px;
padding-right:10px;
padding-left:10px;
margin-top:10px;
}
div::-webkit-scrollbar{
display:none;
}
#nav{
height:65px;
width:100%;
background:#121211;
position:sticky;
top:5px;
margin-bottom:0px;
opacity:0.8;
border-radius:20px 20px 0px 0px;
}
#nav1{
height:55px;
width:42%;
background:#121211;
float:left;
padding-left:10px;
padding-right:10px;
}
#nav1 button{
height:35px;
width:30px;
border:none;
margin-top:15px;
margin-left:10px;
color:white;
font-size:16px;
background:#0a0a0a;
border-radius:20px;
border:none;

}
#nav2{
height:55px;
width:33%;
float:left;
padding-right:5px;
}

#nav2 p {
color:#a7a7a7;
margin-top:20px;

}
#nav2 a {
color:#a7a7a7;
text-decoration:none;
font-size:20px;

}


#txt1{
height:55px;
width:30%;
float:left;
margin-right:5px;

padding-left:10px;
}
#txt2{
height:55px;
width:29%;
float:left;
padding-left:10px;
}
#txt3{
height:55px;
width:30%;
float:left;
padding-left:5px;
}
#signup{
    height:55px;
float:left;
width: 50%;

}
#login{
    height:52px;
    width: 50%;
float:right;
margin-top:7px;
background:white;
border-radius: 30px;

}
#nav3 h2{

margin-top:12px;


}
#nav3 a{

    text-decoration: none;
    color: white;
    
    }
#nav3{
    height: 60px;
    width: 21.5%;
 float:left;
    
    }
#main{
height:420px;
width:100%;
background:#1f1f1f;

}
.song{
height:300px;
width:18%;
margin-left:18px;
float:left;
background:#171717;
margin-top:50px;
padding:20px;
border-radius:10px
}
#main div:hover{
background-color:#272727;
}
.song1{
height:300px;
width:18%;
float:left;
background:#171717;
margin-top:6px;
padding:20px;
margin-left:18px;
border-radius:10px
}
.img{
height:170px;
width:100%;
background:#232323;


}
.img img{
height:180px;
width:100%;
border-radius:10px;

}
.nme{
height:120px;
width:89%;
padding-top:10px;
padding-left:10px;
padding-right:9px;
}
.nme a{
text-decoration:none;
color:white;


}
.nme h3{
margin-left:10px;
color:white;
}
.nme h4{

color:#a7a7a7


}
#vertics{
float:left;
color:white;
}
#vertics p{
font-size:30px;
margin-bottom:10px;
margin-top:10px;


}